<div class="about-wrapper">

	<div class="about-inner visible-md-block visible-lg-block">
		<h1>Edit User</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
	</div>

	<div class="about-inner visible-sm-block visible-xs-block">
		<h1>Editing User</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
	</div>

</div><!-- end about-wrapper -->
